
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.topLevel{
  margin: 0;
  height: 100%;
  background-color: #44444C;
}

.parent {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.body1{
    font-family: 'Roboto', sans-serif;
}

.titleName{
  padding-top: 5%;
  font-family: 'Major Mono Display', monospace;
  font-size: 200%;
  color: #94DCD4;
}

.subtext{
  font-family: 'Major Mono Display', monospace;
  font-size: 150%;
  font-weight: bold;
  color: #047474;
}

.anchor{
  text-decoration:none;
  color: #0C9CBC;
}
.anchor:active {
    color: #94DCD4;
}

.anchor:visited {
  color: #94DCD4;
}

.anchor:hover {
  color: #047474;

}

.h1{

}

.itemList{

  font-size: 200%;
}

.list {
  list-style-type: decimal;
  padding-right: 20%
}

.contacts{

}

.space{
  padding-top: 2%
}
